{% extends 'base.html' %} {% block content %}
<h1 class="text-xl font-semibold mb-4">Welcome on work, from here you can do anything you desire</h1>
<p class="mb-4">Today will be a good day!</p>
<iframe
  src="https://giphy.com/embed/l3V0lsGtTMSB5YNgc"
  width="480"
  height="330"
  frameborder="0"
  class="giphy-embed"
  allowfullscreen
></iframe>
<p><a href="https://giphy.com/gifs/thedudeperfectshow-cmt-the-dude-perfect-show-l3V0lsGtTMSB5YNgc">via GIPHY</a></p>

<h2 class="text-xl mt-4">Here will probably be a fancy dashboard in the future!</h2>
{% endblock %}
